* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

a {
    color: black;
}

body {
    color: black;
}

.temp-class {
    margin: 1.5rem;
}

.navbar {
    width: 100%;
    height: 4rem;
    background-color: #6CB4EE;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.2rem;
}
.navbar a {
    margin-right: .5rem;
}
.nav-lhs, .nav-rhs {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.nav-links {
    display: flex;
    flex-direction: row;
}
.main-block {
    margin: 1.5rem 3rem;
}
#footer {
    width: 100%;
    min-height: 12rem;
    background-color: #233142;
    color: #f5f5f5;
    position: fixed;
    bottom: 0;
}

.posts-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.post-container {
    border: 1px solid black;
   padding: 15px;
}

/* A post */

#post-post{
    width: 100%;
    
}

.post-top, .post-bottom{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 1rem;
}

.pcontent{
    inline-size: 100%;
    overflow-wrap: break-word;
    hyphens: manual;
}
