{% extends 'blog/base.html' %}

{% block head %}

{% endblock %}

{% block body %}

    <header class="temp-class">
        <p>Some random div at the top, advertising or smth idk xd</p>
    </header>

    {% if latest_posts %}
    <div class="posts-container">
      {% for post in latest_posts %}
        <a href="{% url 'blog:post' pk=post.pk slug=post.slug  %}">
            <article class="post-container">
                <h2>{{ post.title }}</h2>
                <p>{{ post.author }}</p>
                <form method="POST" action="{% url 'blog:index' %}">
                    {% csrf_token %}
                    <input type="hidden" name="post_id" value="{{ post.id }}">
                    <input type="submit" value="Delete">
                </form>
            </article>
        </a>
      {% endfor %}
    </div>
    {% else %}
        <p>There are no blogs at the moment.</p>
    {% endif %}

{% endblock %}
