{% extends 'blog/base.html' %}

{% block body %}
<h1>Make post</h1>
<form class="make-form" action="" method="POST">
    <fieldset>
        {% csrf_token %}

        <div class="form-group">
            <label for="{{ form.title.id_for_label }}">Title:</label>
            {{ form.title }}
            {% if form.title.errors %}
            <div class="error">{{ form.title.errors }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="{{ form.content.id_for_label }}">Content:</label>
            {{ form.content }}
        </div>
        <div class="form-group">
            <label for="{{ form.author.id_for_label }}">Author:</label>
            {{ form.author }}
        </div>
       

        <input type="submit" value="Post">

    </fieldset>
</form>
{% endblock %}
