{% extends 'blog/base.html' %}

{% block body %}

<article id="post-post">
    <div class="post-top">
        <h1 class="ptitle">{{ post.title }}</h1>
        <p class="pauthor">{{ post.author }}</p>
        <p class="ppd">{{ post.pub_date }}</p>
    </div>
    <p class="pcontent">{{ post.content }}</p>
    <div class="post-bottom">
        <p class="prating">{{ post.rating }} -- Rating</p>
        <p class="pfaves">{{ post.faves }} -- Favourite{{ post.faves|pluralize }}</p>
    </div
</article>

{% endblock %}
